<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規プロトタイプ投稿</h2>
        <% if user_signed_in? %>
          <%= render partial: 'form', locals:{prototype: @prototype} %>
        <% else %>
          <div>※投稿サービスは、登録したユーザーのみの利用となります※</div>
       <% end %>
    </div>
  </div>
</div>